*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    
}

header{
    background: hsl(0, 0%, 25%);
    padding: 1vh;
    z-index: 1;
}

ul{
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    
}



a{
text-decoration: none;
color: white;

}

a:hover{
    padding: 1vh;
    background-color: hsl(0, 0%, 10%);
    text-decoration: underline;
}

main img{
    top: -100px;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -1;
    
}

h1{
    display: flex;
    justify-content: center;
    
}

footer p{
    
}

